@model String


@*<div class="alert alert-success text-center" style="width:50%; float:right;font-size:12px;" role="alert">
        @Model
    </div>*@

<script>
    $(function () {
        toastr.success("@Model");
                    toastr.options = {
                        "timeOut": "10000",
                        "showDuration": "10000",
                        "progressBar": true
                    }

            });
</script>
