
@{
    ViewBag.Title = "CustomerUpdate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Müşteri Başarı ile Güncellendi..</h4>
<button type="submit" class="btn btn-primary"><a style="color:white" href="~/Home/Index">Müşteri Listesine Geri Dön..</a></button>


