@using ExperIklimdendirmeApp.Models

@model Customer
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Content Row -->
    <div class="row">
        <div class="col-xl-4 col-md-4 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="font-weight-bold text-info mb-1">
                                Müşteri Sayısı
                            </div>
                            <div class="">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">@ViewBag.CountCustomer</div>
                                </div>
                                <div class="col">
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-users fa-2x text-gray-300"></i>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->

    <div class="row">
        <div id="calendar"></div>
        <div class="modal fade" id="event_entry_modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLabel">Randevu Ekranı</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="img-container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="event_name">Randevu İsmi</label>
                                        <input type="text" name="title" id="title" class="form-control" placeholder="Randevu İsmi Giriniz">
                                    </div>
                                </div>
                                @*<div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="event_name">Müşteriler</label>
                                        <select class="form-control m-input m-input--square" id="musteriler" name="musteriler">
                                            <option value="0">Seçiniz..</option>
                                            <option value="1">Merve</option>
                                            <option value="2">Samet</option>
                                        </select>
                                    </div>
                                </div>*@
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="event_start_date">Başlangıç Tarihi</label>
                                        <input type="date" name="baslangicTarihi" id="baslangicTarihi" class="form-control onlydatepicker" placeholder="Başlangıç Tarihi Seçiniz">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="event_end_date">Bitiş Tarihi</label>
                                        <input type="date" name="bitisTarihi" id="bitisTarihi" class="form-control" placeholder="Bitiş Tarihi Seçiniz">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="meetingSave()">Kaydet</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="event_entry_modal2" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLabel">Randevu Ekranı</h5><input type="text" name="calendarid" id="calendarid" class="form-control" style="display:none">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="img-container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="event_name">Randevu İsmi</label>
                                        <input type="text" name="title1" id="title1" class="form-control" placeholder="Randevu İsmi Giriniz">
                                    </div>
                                </div>
                                @*<div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="event_name">Müşteriler</label>
                                        <select class="form-control m-input m-input--square" id="musteriler" name="musteriler">
                                            <option value="0">Seçiniz..</option>
                                            <option value="1">Merve</option>
                                            <option value="2">Samet</option>
                                        </select>
                                    </div>
                                </div>*@
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="input-group date">
                                        <label for="event_start_date">Başlangıç Tarihi</label>
                                        <input type="text" name="baslangicTarihi1" id="baslangicTarihi1" class="form-control" placeholder="dd.mm.yyyy">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group date">
                                        <label for="event_end_date">Bitiş Tarihi</label>
                                        <input type="text" name="bitisTarihi1" id="bitisTarihi1" class="form-control" placeholder="dd.mm.yyyy">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="meetingUpdate()">Kaydet</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <!-- Content Row -->
</div>
<!-- /.container-fluid -->
<script src="~/js/calendarEventSave.js"></script>

